absl-py==0.13.0
click==8.0.1
colorama==0.4.4
coloredlogs==15.0.1
colorlog==5.0.1
configparser==5.0.2
easydict==1.9
grad-cam==1.2.9
h5py==3.1.0
ipython==7.16.1
matplotlib==3.3.4
numpy==1.19.5
opencv-contrib-python==4.5.3.56
Pillow==8.3.1
PyYAML==5.4.1
requests==2.26.0
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
tensorboard==2.6.0
tensorboardX==2.4
torch==1.9.0+cu111
torchaudio==0.9.0
torchsummary==1.5.1
torchvision==0.10.0+cu111
tqdm==4.62.0
urllib3==1.26.6
verboselogs==1.7
visdom==0.1.8.9
wandb==0.12.6
yarl==1.7.0
zipp==3.5.0